html
	header
		meta(charset="utf=8")
		link(rel="style.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body
		include header
		.class Olá mundo
			.box.box-1
				div  Lorem ipsum dolor sit amet, consectetur adipisicing elit.